{% extends 'base.html' %}

{% block title %} {{ user.username }} - корзина {% endblock %}

{% block content %}
<div class="container">
    {% if order_set %}
    <ul class="list-group list-group-flush mt-5">
        {% for order in order_set %}

            <li class="list-group-item">

                    <a href="{% url 'Wsports:product_url' order.product_variant.product.name %}">
                        <div>
                            <div style="float: left; width: 70%; color: black;">
                                <p>Товар:&nbsp;{{ order.product_variant.product.name }}</p>
                                <p>{% for attr in order.product_variant.variant_values.all %}{{ attr }}: {{ attr.value }}, {% endfor %}</p>
                                <p>Цена:&nbsp;{{ order.product_variant.product.price }}</p>
                                <p>Количество:&nbsp;{{ order.count }} <a href="{% url 'Wsports:change_count_url' order.product_variant.id -1 %}">-</a> / <a href="{% url 'Wsports:change_count_url' order.product_variant.id 1 %}">+</a></p>
                                <p>Стоимость:&nbsp;{{ order.amount }}</p>
                                <p><a href="{% url 'Wsports:product_delete_url' order.product_variant.id %}">Убрать</a></p>

                            </div>
                                <img src="{{ order.product_variant.product.photo.url }}" alt="{{ order.product_variant.product.name }}" height="30%" width="auto" style="width: 20%; float: right; display: block;">

                        </div>
                    </a>
            </li>
        {% endfor %}
        </ul>

        <p><b>&nbsp;К оплате: {{ cart.get_total_amount }}</b></p>
        <a href="{% url 'Wsports:shipping_and_payment_url' %}"><button class="btn btn-success">Оформить</button></a>

    {% else %}
        <p class="mt-5"><b>Корзина пуста</b></p>
    {% endif %}
</div>
{% endblock %}
