{% extends 'base.html' %}

{% block title %} {{ user.username }} - корзина {% endblock %}

{% block content %}
<div class="container">
    {% if cart.get_total_amount != None %}
    <ul class="list-group list-group-flush mt-5">
        {% for product in product_set %}

            <li class="list-group-item">

                    <a href="{% url 'Wsports:product_url' product.name %}">
                        <div>
                            <div style="float: left; width: 70%; color: black;">
                                <p>Товар:&nbsp;{{ product.name }}</p>
                                <p>Цена:&nbsp;{{ product.price }}</p>
                                <p>Количество:&nbsp;{{ product.ordered_count }} <a href="{% url 'Wsports:change_count_url' product.id 1 %}">+</a> / <a href="{% url 'Wsports:change_count_url' product.id -1 %}">-</a></p>
                                <p>Стоимость:&nbsp;{{ product.amount }}</p>
                                <p><a href="{% url 'Wsports:product_delete_url' product.id %}">Убрать</a></p>

                            </div>
                                <img src="{{ product.photo.url }}" alt="{{ product.name }}" height="99" width="auto" style="width: 30%; float: right; display: block;">

                        </div>
                    </a>
            </li>
        {% endfor %}
        </ul>
        <p><b>&nbsp;К оплате: {{ cart.get_total_amount }}</b></p>
        <a href="{% url 'Wsports:shipping_and_payment_url' %}"><button class="btn btn-success">Оформить</button></a>

    {% else %}
        <p class="mt-5"><b>Корзина пуста</b></p>
    {% endif %}
</div>
{% endblock %}
