{% extends 'base.html' %}
{% block title %} {{ product }} {% endblock %}



{% block content %}

<style>
    .tag {
        color: blue;
    }

    .ocount {
        color: red;
    }

    #btn-rent p {
        margin-bottom: 0;
    }

/*    .buttonn {*/
/*        background: white*/
/*       a.button: hover { background: rgb(80, 80, 80); }*/
/*       a.button: active { background: rgb(0, 0, 0); }*/
/*   }*/
</style>


<div class="container mt-5">
    <div class="row"><h1>{{ product.name }}</h1></div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-8"><img src="{{ product.photo.url }}" alt="{{ product }}" style="width: 100%;"/></div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row my-5">
                        {% for image in product.images.all %}
                            {% if forloop.counter0|divisibleby:"2" %}
                            </div><div class="row my-5">
                            {% endif %}
                            <div class="card col-3 m-auto" style="width: 18rem;">
                                <img src="{{ image.photo.url }}" class="card-img-top" alt="{{ product }}" width="70px" height="100px"/>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col">
                    <b><p>{{ product.brand }}</p></b>
                    <p>{{ product.description }}</p>
                    <p><b>{{ product.price }} <sup>руб</sup></b>
                            {% if product.count == 0 %}
                                <div class="ocount">нет в наличии</div>
                            {% else %}
                                <div>{{ product.count }} шт.</div>
                            {% endif %}</p>
                    {% for attr in product.attribute_values.all %}
                       <p>{{ attr.attribute.name }}:
                           {% if attr.attribute.type == 'INT' %}
                                {{ attr.int_value }}
                           {% elif attr.attribute.type == 'FLT' %}
                                {{ attr.float_value }}
                           {% elif attr.attribute.type == 'STR' %}
                                {{ attr.str_value }}
                           {% elif attr.attribute.type == 'BLN' %}
                                {% if attr.bool_value %} Да {% else %} Нет {% endif %}
                           {% elif attr.attribute.type == 'VRT' %}
                                {{ attr.str_value }}

                           {% endif %}
                       </p>
                    {% endfor %}
                    <form action="{% url 'Wsports:add_to_cart_url' product_id=product.id %}" method="POST" id="add_to_cart_form">
                        {% csrf_token %}

                        {% for variant in product.productvariant_set.first.variant_values.all %}
                            <p>
                                <label>{{ variant.attribute }}:</label>
                                <select name="attribute-{{ variant.attribute.id }}">
                                    {% for option in variant.attribute.choosableattributeoptions_set.all %}
                                        <option value="{{ option.value }}">{{ option.value }}</option>
                                    {% endfor %}
                                </select>
                            </p>
                        {% endfor %}

                        {% for tag in product.tags.all %}
                            <p class="tag">#{{ tag }}</p>
                        {% endfor %}
                        <div id="buttons-wrapper">
                            <input type="submit" class="btn btn-primary" value="Добавить">
                            <div class="btn btn-primary" id="btn-rent">
                                <p>В аренду</p>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
    {% if product.recommendations.all.count > 0 %}
    <h2 align="center">К этому товару мы рекомендуем:</h2>
    {% endif %}
    <div class="row my-5">
    {% for product in product.recommendations.all %}
        {% if forloop.counter0|divisibleby:"3" %}
        </div><div class="row my-5">
        {% endif %}
        <div class="card col-3 m-auto" style="">
            <a href="{% url 'Wsports:product_url' product_name=product.name %}" class="btn btn-primary detail-btn"
               style="background-color: white; border: none;">
                <img src="{{ product.photo.url }}" class="card-img-top" alt="{{ product }}"/>
                <div class="card-body">
                    <h3 class="card-title" style="color: black;">{{ product.name|truncatewords:5 }}</h3>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}


    <script>
        function sentRentForm()
        {
            let form = document.getElementById("add_to_cart_form");
            form.action = "{% url 'Wsports:rent_product' product_id=product.id %}";
            form.method = "GET";
            form.submit();


        }

        let rent_btn = document.getElementById("btn-rent");
        rent_btn.addEventListener("click", sentRentForm);



    </script>
{% endblock %}
